[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "complexNet"]
	path = complexNet
	url = https://github.com/marcosmolla/complexnet
